html(lang="en")
    head
        title Software product development - Aktagon Ltd.
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="Software product development - Aktagon Ltd.")
        meta(name="author", content="")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap")
        //-link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap")
        //-link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap")
        //-link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap")
        link(href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;800&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/bulma/bulma.min.css")
        link(rel="icon", href="favicon.ico")
        script(src="js/main.js")
    body
        div(class="")
            section(class="pb-20 is-relative", style="background-image: url('aktagon-assets/images/nasa-Q1p7bh3SHj8-unsplash.jpg'); background-size: cover; background-repeat: no-repeat;")
                div(class="is-absolute is-inset-0 has-background-dark", style="opacity: 80%;")
                div(class="is-relative")
                    nav(class="navbar is-dark mb-10 mb-16-desktop py-5", style="background-color: transparent !important;")
                        div(class="container is-fluid")
                            div(class="navbar-brand is-justify-content-space-between")
                                a(class="navbar-item pl-0 title is-size-4 mb-0", href="#")
                                    img(src="aktagon-assets/logos/aktagon-logo-white.svg", alt="", width="132")
                                button(class="button is-ghost is-hidden-desktop navbar-menu-open")
                                    svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd", clip-rule="evenodd", d="M3.5 7C3.22386 7 3 6.77614 3 6.5C3 6.22386 3.22386 6 3.5 6H20.5C20.7761 6 21 6.22386 21 6.5C21 6.77614 20.7761 7 20.5 7H3.5ZM3.5 12C3.22386 12 3 11.7761 3 11.5C3 11.2239 3.22386 11 3.5 11H20.5C20.7761 11 21 11.2239 21 11.5C21 11.7761 20.7761 12 20.5 12H3.5ZM3 16.5C3 16.7761 3.22386 17 3.5 17H20.5C20.7761 17 21 16.7761 21 16.5C21 16.2239 20.7761 16 20.5 16H3.5C3.22386 16 3 16.2239 3 16.5Z", fill="white")
                            div(class="navbar-menu")
                                div(class="navbar-end")
                                    a(class="navbar-item", href="#products-for-the-web") Products for the web
                                    a(class="navbar-item", href="#products-for-mobile-devices") Products for mobile devices
                                    a(class="navbar-item", href="#about") About Aktagon Ltd.
                                    a(class="button is-warning button", href="#contact") Send a message
                                    //-div(class="is-hidden-touch navbar-item pr-0")
                                        a(class="button is-ghost has-text-white has-text-weight-medium mr-2", href="#") Sign In
                                        a(class="button is-warning", href="#") Sign Up
                    div(class="section py-0")
                        div(class="container")
                            div(class="has-mw-2xl mx-auto mb-20 mb-32-desktop has-text-centered")
                                span(class="has-text-light") Web & Mobile 
                                h1(class="title is-size-1 is-spaced has-text-white mt-2")
                                    span Software 
                                    |                   
                                    span(class="is-block has-text-warning") product
                                    |                   
                                    span development.
                                span(class="has-text-light") Aktagon Ltd. develops software products optimized for your business and customers.
                                //-h1(class="title is-size-1 is-spaced has-text-white mt-2")
                                    span Take care of your
                                    |                   
                                    span(class="is-block has-text-warning") performance
                                    |                   
                                    span every day.
                            //-div(class="columns is-multiline")
                                div(class="column is-12 is-4-desktop mb-10 mb-0-desktop")
                                    div(class="is-flex is-align-items")
                                        span(class="mr-5 mt-n2")
                                            svg(width="80", height="80", viewbox="0 0 80 80", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                rect(x="39.598", y="0.707107", width="55", height="55", transform="rotate(45 39.598 0.707107)", stroke="#FBDC8E")
                                                path(fill-rule="evenodd", clip-rule="evenodd", d="M30.9313 42.2646H39.4108L36.9512 52.103C36.7735 52.8139 37.7061 53.2494 38.1371 52.6568L48.8038 37.9901C49.1243 37.5494 48.8095 36.9313 48.2646 36.9313H39.7852L42.2447 27.093C42.4225 26.3821 41.4898 25.9466 41.0588 26.5392L30.3922 41.2059C30.0717 41.6465 30.3865 42.2646 30.9313 42.2646ZM32.2405 40.9313L40.119 30.0983L38.2846 37.4363C38.1794 37.8571 38.4976 38.2646 38.9313 38.2646H46.9555L39.0769 49.0977L40.9114 41.7597C41.0166 41.3389 40.6984 40.9313 40.2646 40.9313H32.2405Z", fill="#FBDC8E")
                                        div
                                            h5(class="mb-3 title is-size-4 is-spaced has-text-white") Quick review
                                            p(class="subtitle has-text-light") We make sure you get feedback the same day.
                                div(class="column is-12 is-4-desktop mb-10 mb-0-desktop")
                                    div(class="is-flex is-align-items")
                                        span(class="mr-5 mt-n2")
                                            svg(width="80", height="80", viewbox="0 0 80 80", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                rect(x="39.598", y="0.707107", width="55", height="55", transform="rotate(45 39.598 0.707107)", stroke="#FBDC8E")
                                                path(fill-rule="evenodd", clip-rule="evenodd", d="M30.6667 28.6667C30.6667 28.2985 30.3682 28 30 28C28.1591 28 26.6667 29.4924 26.6667 31.3333C26.6667 31.7015 26.9652 32 27.3334 32C27.7015 32 28 31.7015 28 31.3333C28 30.2288 28.8955 29.3333 30 29.3333C30.3682 29.3333 30.6667 29.0349 30.6667 28.6667ZM32.6667 40H43.0572L40.1953 42.8619C39.9349 43.1223 39.9349 43.5444 40.1953 43.8047C40.4556 44.0651 40.8777 44.0651 41.1381 43.8047L45.1381 39.8047C45.3984 39.5444 45.3984 39.1223 45.1381 38.8619L41.1381 34.8619C40.8777 34.6016 40.4556 34.6016 40.1953 34.8619C39.9349 35.1223 39.9349 35.5444 40.1953 35.8047L43.0572 38.6667H32.6667C32.2985 38.6667 32 38.9651 32 39.3333C32 39.7015 32.2985 40 32.6667 40ZM26.6667 35.3333C26.6667 34.9651 26.9652 34.6667 27.3334 34.6667C27.7015 34.6667 28 34.9651 28 35.3333V38C28 38.3682 27.7015 38.6667 27.3334 38.6667C26.9652 38.6667 26.6667 38.3682 26.6667 38V35.3333ZM27.3334 41.3333C26.9652 41.3333 26.6667 41.6318 26.6667 42V44.6667C26.6667 45.0349 26.9652 45.3333 27.3334 45.3333C27.7015 45.3333 28 45.0349 28 44.6667V42C28 41.6318 27.7015 41.3333 27.3334 41.3333ZM26.6667 48.6667C26.6667 48.2985 26.9652 48 27.3334 48C27.7015 48 28 48.2985 28 48.6667C28 49.7712 28.8955 50.6667 30 50.6667C30.3682 50.6667 30.6667 50.9651 30.6667 51.3333C30.6667 51.7015 30.3682 52 30 52C28.1591 52 26.6667 50.5076 26.6667 48.6667ZM36.6667 32C37.0349 32 37.3334 31.7015 37.3334 31.3333C37.3334 30.2288 38.2288 29.3333 39.3334 29.3333H50C51.1046 29.3333 52 30.2288 52 31.3333V48.6667C52 49.7712 51.1046 50.6667 50 50.6667H39.3334C38.2288 50.6667 37.3334 49.7712 37.3334 48.6667C37.3334 48.2985 37.0349 48 36.6667 48C36.2985 48 36 48.2985 36 48.6667C36 50.5076 37.4924 52 39.3334 52H50C51.841 52 53.3334 50.5076 53.3334 48.6667V31.3333C53.3334 29.4924 51.841 28 50 28H39.3334C37.4924 28 36 29.4924 36 31.3333C36 31.7015 36.2985 32 36.6667 32ZM35.3334 50.6667C35.7015 50.6667 36 50.9651 36 51.3333C36 51.7015 35.7015 52 35.3334 52H32.6667C32.2985 52 32 51.7015 32 51.3333C32 50.9651 32.2985 50.6667 32.6667 50.6667H35.3334ZM36 28.6667C36 28.2985 35.7015 28 35.3334 28H32.6667C32.2985 28 32 28.2985 32 28.6667C32 29.0349 32.2985 29.3333 32.6667 29.3333H35.3334C35.7015 29.3333 36 29.0349 36 28.6667Z", fill="#FBDC8E")
                                        div
                                            h5(class="mb-3 title is-size-4 is-spaced has-text-white") Easy changes
                                            p(class="subtitle has-text-light") Options settings for customers convenience.
                                div(class="column is-12 is-4-desktop")
                                    div(class="is-flex is-align-items")
                                        span(class="mr-5 mt-n2")
                                            svg(width="80", height="80", viewbox="0 0 80 80", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                rect(x="39.598", y="0.707107", width="55", height="55", transform="rotate(45 39.598 0.707107)", stroke="#FBDC8E")
                                                path(fill-rule="evenodd", clip-rule="evenodd", d="M31.3333 28C29.4924 28 28 29.4924 28 31.3333V48.6667C28 50.5076 29.4924 52 31.3333 52H48.6667C50.5076 52 52 50.5076 52 48.6667V32.6667C52 32.4899 51.9298 32.3203 51.8047 32.1953L47.8047 28.1953C47.6797 28.0702 47.5101 28 47.3333 28H31.3333ZM33.3333 50.6667V40.6667C33.3333 40.2985 33.6318 40 34 40H46C46.3682 40 46.6667 40.2985 46.6667 40.6667V50.6667H48.6667C49.7712 50.6667 50.6667 49.7712 50.6667 48.6667V32.9428L47.0572 29.3333H44V34C44 34.3682 43.7015 34.6667 43.3333 34.6667H32.6667C32.2985 34.6667 32 34.3682 32 34V29.3333H31.3333C30.2288 29.3333 29.3333 30.2288 29.3333 31.3333V48.6667C29.3333 49.7712 30.2288 50.6667 31.3333 50.6667H33.3333ZM34.6667 41.3333V50.6667H45.3333V41.3333H34.6667ZM33.3333 29.3333H40V33.3333H33.3333V29.3333ZM41.3333 33.3333H42.6667V29.3333H41.3333V33.3333Z", fill="#FBDC8E")
                                        div
                                            h5(class="mb-3 title is-size-4 is-spaced has-text-white") Place storage
                                            p(class="subtitle has-text-light") Store projects in easily accessible catalogs.
                div(class="is-hidden navbar-side is-fixed is-top-0 is-bottom-0 is-left-0 has-mw-sm", style="width: 75%; z-index: 9999;")
                    div(class="navbar-backdrop is-fixed is-inset-0 has-background-primary", style="opacity: 90%;")
                    nav(class="navbar is-light is-relative is-flex is-flex-direction-column px-6 py-6 has-background-white", style="width: 100%; height: 100%; overflow-y: auto")
                        div(class="mb-10 is-flex is-align-items-center")
                            a(class="navbar-brand mr-auto title is-size-4 mb-0", href="#")
                                img(src="aktagon-assets/logos/aktagon-logo.svg", alt="", width="132")
                            button(class="navbar-close button is-text p-0 mb-2", type="button", aria-label="Close")
                                svg(style="width: 18px; height: 18px;", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                    path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M6 18L18 6M6 6l12 12")
                        div
                            div(class="is-flex-direction-column")
                                a(class="navbar-item", href="#products-for-the-web") Products for the web
                                a(class="navbar-item", href="#products-for-mobile-devices") Products for mobile devices
                                a(class="navbar-item", href="#about") About Aktagon Ltd.
                                a(class="button is-warning button", href="#contact") Send a message
                        div(class="mt-auto")
                            //-div(class="py-6")
                                a(class="button is-primary mb-2 is-fullwidth", href="#") Sign In
                                a(class="button is-warning is-fullwidth", href="#") Sign Up
                            p(class="has-text-grey-dark is-size-7 mb-4 has-text-centered") &copy; 2006-&infin; All rights reserved.
            //-section(class="section")
                div(class="container")
                    div(class="is-vcentered columns is-multiline")
                        div(class="column is-2-desktop is-4-tablet mb-12 mb-0-desktop")
                            img(class="mx-auto is-block image", style="max-height: 64px;", src="aktagon-assets/logos/brands/slack-grey.svg", alt="")
                        div(class="column is-2-desktop is-4-tablet mb-12 mb-0-desktop")
                            img(class="mx-auto is-block image", style="max-height: 64px;", src="aktagon-assets/logos/brands/dropbox-grey.svg", alt="")
                        div(class="column is-2-desktop is-4-tablet mb-12 mb-0-desktop")
                            img(class="mx-auto is-block image", style="max-height: 64px;", src="aktagon-assets/logos/brands/spotify-grey.svg", alt="")
                        div(class="column is-2-desktop is-4-tablet mb-12 mb-0-tablet")
                            img(class="mx-auto is-block image", style="max-height: 64px;", src="aktagon-assets/logos/brands/amazon-grey.svg", alt="")
                        div(class="column is-2-desktop is-4-tablet mb-12 mb-0-tablet")
                            img(class="mx-auto is-block image", style="max-height: 64px;", src="aktagon-assets/logos/brands/netflix-grey.svg", alt="")
                        div(class="column is-2-desktop is-4-tablet")
                            img(class="mx-auto is-block image", style="max-height: 64px;", src="aktagon-assets/logos/brands/stripe-grey.svg", alt="")
            section(class="section")
                a(name="products-for-the-web")
                div(class="container")
                    div(class="mx-auto mb-24 has-text-centered")
                        div(class="has-mw-4xl mx-auto")
                            //span(class="tag is-success") New feature
                            h2(class="mt-6 mb-4 title is-size-2 is-spaced")
                                | Software product development
                                br
                                | for the web
                            p(class="has-mw-xl subtitle mx-auto mb-12") Aktagon Ltd. develops browser-based software products for your business and customers.
                            img(class="image is-fullwidth", style="max-height: 495px;", src="aktagon-assets/images/laptop.png", alt="")
                    //-div(class="columns is-multiline")
                        div(class="column is-12 is-4-desktop has-text-centered")
                            span
                                svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M14 40H40", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M8 40V34L34 8L40 14L14 40H8Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M34 20L28 14", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            div(class="has-mw-xs mx-auto mt-6 px-4-desktop")
                                h6(class="mb-4 is-size-4") Change of access
                                p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                        div(class="column is-12 is-4-desktop has-text-centered")
                            span
                                svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M24 44C24 44 40 36 40 24V10L24 4L8 10V24C8 36 24 44 24 44Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M16 23L22 29L34 17", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            div(class="has-mw-xs mx-auto mt-6 px-4-desktop")
                                h6(class="mb-4 is-size-4") Security in savings
                                p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
                        div(class="column is-12 is-4-desktop has-text-centered")
                            span
                                svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M24 30C27.866 30 31 26.866 31 23C31 19.134 27.866 16 24 16C20.134 16 17 19.134 17 23C17 26.866 20.134 30 24 30Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M42 23.9999C42.006 28.6858 40.1784 33.188 36.908 36.5439C35.2324 38.2727 33.2261 39.6466 31.0086 40.5839C28.791 41.5212 26.4075 42.0028 24 41.9999C21.5925 42.0028 19.209 41.5212 16.9914 40.5839C14.7739 39.6466 12.7676 38.2727 11.092 36.5439C9.03644 34.4289 7.53208 31.8412 6.71122 29.0084C5.89036 26.1756 5.77815 23.1846 6.38447 20.2982C6.99079 17.4119 8.29705 14.7188 10.1884 12.4557C12.0797 10.1927 14.4981 8.42903 17.2309 7.31991C19.9638 6.2108 22.9273 5.79019 25.8608 6.09508C28.7943 6.39997 31.608 7.42103 34.0543 9.06844C36.5006 10.7158 38.5047 12.9391 39.8902 15.5428C41.2757 18.1464 42.0002 21.0506 42 23.9999V23.9999Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M11.092 36.544C12.5768 34.5144 14.5197 32.8639 16.7627 31.7268C19.0056 30.5897 21.4853 29.998 24 30C26.5148 29.998 28.9945 30.5897 31.2374 31.7268C33.4804 32.8639 35.4233 34.5144 36.908 36.544", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            div(class="has-mw-xs mx-auto mt-6 px-4-desktop")
                                h6(class="mb-4 is-size-4") List of regular users
                                p(class="subtitle") Take care to develop resources continually and integrity them with previous projects.
            section(class="section pb-0")
                a(name="products-for-mobile-devices")
                div(class="container")
                    div(class="has-mw-4xl mx-auto mb-16 has-text-centered")
                        //-span(class="tag is-warning is-light") New feature
                        h2(class="mt-6 mb-4 title is-spaced is-size-2")
                                | Software product development
                                br
                                | for mobile devices
                        p(class="has-mw-xl subtitle mx-auto mb-6") Aktagon Ltd. develops cross-platform and browser-based software products for mobile devices.
                        //-div(class="buttons is-centered")
                            a(class="button is-ghost p-0", href="#")
                                img(src="aktagon-assets/buttons/app-store.svg", alt="")
                            |               
                            a(class="button is-ghost p-0", href="#")
                                img(src="aktagon-assets/buttons/google-play.svg", alt="")
                    div(class="has-mw-xl mx-auto")
                        img(class="image is-fullwidth", src="aktagon-assets/images/phone-half-three.png", alt="")
            section(class="section has-background-primary-disable")
                a(name="about")
                div(class="container")
                    div(class="columns is-multiline")
                        div(class="column is-12 is-4-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-xs mx-auto px-5-tablet has-text-centered")
                                span
                                    svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M14 40H40", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M8 40V34L34 8L40 14L14 40H8Z", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M34 20L28 14", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                h6(class="has-text-white-disable mt-6 mb-4 is-size-4") About
                                p(class="subtitle has-text-light-disable") Aktagon Ltd. was founded in 2006 by Christian Hellsten.
                        div(class="column is-12 is-4-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-xs mx-auto px-5-tablet has-text-centered")
                                span
                                    svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M24 44C24 44 40 36 40 24V10L24 4L8 10V24C8 36 24 44 24 44Z", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M16 23L22 29L34 17", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                h6(class="has-text-white-disable mt-6 mb-4 is-size-4") Business ID
                                p(class="subtitle has-text-light-disable")
                                    | The VAT-ID of Aktagon Ltd. is:
                                    | FI20537825 (2053782-5)
                        div(class="column is-12 is-4-desktop")
                            div(class="has-mw-xs mx-auto px-5-tablet has-text-centered")
                                span
                                    svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M24 30C27.866 30 31 26.866 31 23C31 19.134 27.866 16 24 16C20.134 16 17 19.134 17 23C17 26.866 20.134 30 24 30Z", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M42 23.9999C42.006 28.6858 40.1784 33.1881 36.908 36.5439C35.2324 38.2727 33.2261 39.6466 31.0086 40.5839C28.791 41.5213 26.4075 42.0028 24 41.9999C21.5925 42.0028 19.209 41.5213 16.9914 40.5839C14.7739 39.6466 12.7676 38.2727 11.092 36.5439C9.03644 34.4289 7.53208 31.8412 6.71122 29.0085C5.89036 26.1757 5.77815 23.1846 6.38447 20.2982C6.99079 17.4119 8.29705 14.7188 10.1884 12.4557C12.0797 10.1927 14.4981 8.42905 17.2309 7.31994C19.9638 6.21082 22.9273 5.79021 25.8608 6.0951C28.7943 6.39999 31.608 7.42105 34.0543 9.06846C36.5006 10.7159 38.5047 12.9392 39.8902 15.5428C41.2757 18.1464 42.0002 21.0506 42 23.9999V23.9999Z", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M11.092 36.544C12.5768 34.5144 14.5197 32.8639 16.7627 31.7268C19.0056 30.5897 21.4853 29.9981 24 30C26.5148 29.9981 28.9945 30.5897 31.2374 31.7268C33.4804 32.8639 35.4233 34.5144 36.908 36.544", stroke="#FBDC8E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                h6(class="has-text-white-disable mt-6 mb-4 is-size-4") Address
                                p(class="subtitle has-text-light-disable")
                                    | Renbackavägen 8 A,
                                    | 02750 Esbo,
                                    | Finland
            section(class="section py-32-desktop is-relative has-background-primary is-clipped")
                a(name="contact")
                div(class="is-absolute is-block-tablet is-hidden-touch is-top-0 is-left-0 has-background-white", style="height: 100%; width: 65%;")
                div(class="is-absolute is-hidden-desktop is-top-0 is-left-0 is-right-0 is-bottom-0 has-background-white")
                div(class="container is-relative")
                    div(class="is-vcentered columns is-multiline")
                        div(class="column is-12 is-6-desktop mb-10 mb-0-desktop")
                            div(class="has-mw-md-desktop mb-10 mb-24-desktop")
                                h2(class="mb-4 title is-size-2 is-spaced") Send a message
                                //- p(class="subtitle") Submit a description of the product you want to build.
                            div(class="columns is-multiline")
                                div(class="column is-12 is-6-desktop mb-5 mb-0-desktop")
                                    //-svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M18 10L6 6V38L18 42M18 10L30 6M18 10V42M30 6L42 10V42L30 38M30 6V38M30 38L18 42", stroke="#006251", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-3 mb-2 title is-size-4") Address
                                    p(class="mb-1") Aktagon Ltd.
                                    p Renbackavägen 8 A
                                    p 02750 Esbo
                                    p Finland
                                div(class="column is-12 is-6-desktop")
                                    //-svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M41.9988 32.9533V38.3729C42.0072 40.4446 40.1444 42.1746 38.0528 41.9859C20 42 6 27.87 6.01413 9.93837C5.82575 7.85789 7.54715 6.00212 9.61622 6.00018H15.0465C15.9249 5.99155 16.7766 6.302 17.4426 6.87368C19.3363 8.49899 20.5543 14.0155 20.0856 16.2086C19.7197 17.9207 17.9938 19.1186 16.8204 20.2897C19.3972 24.8124 23.1493 28.5571 27.6809 31.1288C28.8544 29.9577 30.0546 28.2351 31.7702 27.87C33.9709 27.4016 39.523 28.6213 41.1418 30.5281C41.7158 31.2042 42.0208 32.0674 41.9988 32.9533Z", stroke="#006251", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-3 mb-2 title is-size-4") Contact
                                    p(class="mb-1") christian@aktagon.com
                                    //-p +358 40 512 4991
                        div(class="column is-12 is-6-desktop is-relative")
                            div(class="px-6 py-12 is-relative has-background-white has-text-centered")
                                //-img(class="is-absolute is-top-0 is-left-0 ml-20 is-block-desktop is-hidden-touch", style="height: 128px; margin-top: -128px;", src="aktagon-assets/elements/green-light-left.svg", alt="")
                                //-img(class="is-absolute is-bottom-0 is-left-0 ml-20 is-block-desktop is-hidden-touch", style="height: 128px; margin-bottom: -128px;", src="aktagon-assets/elements/light-green-left.svg", alt="")
                                form(action="#", class="mt-12", data-netlify="true")
                                    //-span(class="tag is-warning is-light") Lorem ipsum
                                    //-h3(class="mt-6 mb-6 title is-size-3 is-spaced") Lorem ipsum dolor sit amet consectutar
                                    div(class="control mb-6")
                                        input(class="input", type="text", placeholder="Name")
                                    div(class="control mb-6")
                                        input(class="input", type="email", placeholder="E-mail")
                                    div(class="control mb-6")
                                        textarea(class="textarea has-fixed-size", name="message", cols="30", rows="10", placeholder="Message...")
                                    button(class="button is-warning is-fullwidth") Send
            section(class="section")
                div(class="container")
                    div(class="pb-6 pb-12-tablet columns is-multiline is-justify-content-between")
                        div(class="column is-3")
                            a(class="navbar-item pl-0 mb-8 mb-0-desktop is-inline-block title is-size-4", href="#")
                                img(src="aktagon-assets/logos/aktagon-logo.svg", alt="", width="132")
                        div(class="column is-9")
                            ul(class="is-flex is-justify-content-flex-end")
                                li(class="mb-4 mb-0-desktop mr-6 mr-12-tablet")
                                    | &copy; 2006
                                    | -
                                    | &infin;
                            //-ul(class="is-flex is-justify-content-flex-end")
                                li(class="mb-4 mb-0-desktop mr-6 mr-12-tablet")
                                    a(class="is-size-7 has-text-weight-bold has-text-grey-dark", href="#") About
                                li(class="mb-4 mb-0-desktop mr-6 mr-12-tablet")
                                    a(class="is-size-7 has-text-weight-bold has-text-grey-dark", href="#") Company
                                li(class="mb-4 mb-0-desktop mr-6 mr-12-tablet")
                                    a(class="is-size-7 has-text-weight-bold has-text-grey-dark", href="#") Services
                                li
                                    a(class="is-size-7 has-text-weight-bold has-text-grey-dark", href="#") Testimonials
                    //-div(class="pt-12 is-flex is-justify-content-space-between is-align-items-center")
                        p(class="is-size-7 mb-6 mb-0-mobile") All rights reserved © Aktagon Ltd. 2021
                        div
                            a(class="mr-4", href="#")
                                img(src="aktagon-assets/logos/brands/facebook.svg", alt="")
                            |               
                            a(class="mr-4", href="#")
                                img(src="aktagon-assets/logos/brands/twitter.svg", alt="")
                            |               
                            a(class="mr-4", href="#")
                                img(src="aktagon-assets/logos/brands/Instagram.svg", alt="")
                            |               
                            a(class="mr-4", href="#")
                                img(src="aktagon-assets/logos/brands/github.svg", alt="")
                            |               
                            a(class="mr-4", href="#")
                                img(src="aktagon-assets/logos/brands/LinkedIn.svg", alt="")
