html(lang="en")
    head
        title Software product development - Aktagon Ltd.
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="Software product development - Aktagon Ltd.")
        meta(name="author", content="Aktagon Ltd.")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,900&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/bulma/bulma.min.css")
        link(rel="icon", href="favicon.ico")
        script(src="js/main.js")
    body(class="has-background-dark")
        //
        // NAVBAR
        //
        nav(class="navbar is-dark mb-10 mb-16-desktop py-5", style="background-color: transparent !important;")
            div(class="container is-fluid")
                div(class="navbar-brand is-justify-content-space-between")
                    a(class="pl-0 mb-0 ml-5 ml-0-mobile", href="#")
                        img(src="aktagon-assets/logos/aktagon-logo-white.svg", alt="")
                    button(class="button is-ghost is-hidden-desktop navbar-menu-open")
                        svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd", clip-rule="evenodd", d="M3.5 7C3.22386 7 3 6.77614 3 6.5C3 6.22386 3.22386 6 3.5 6H20.5C20.7761 6 21 6.22386 21 6.5C21 6.77614 20.7761 7 20.5 7H3.5ZM3.5 12C3.22386 12 3 11.7761 3 11.5C3 11.2239 3.22386 11 3.5 11H20.5C20.7761 11 21 11.2239 21 11.5C21 11.7761 20.7761 12 20.5 12H3.5ZM3 16.5C3 16.7761 3.22386 17 3.5 17H20.5C20.7761 17 21 16.7761 21 16.5C21 16.2239 20.7761 16 20.5 16H3.5C3.22386 16 3 16.2239 3 16.5Z", fill="white")
                div(class="navbar-menu")
                    div(class="navbar-end mr-5")
                        a(class="navbar-item", href="#products-for-the-web") Products for the web
                        a(class="navbar-item", href="#products-for-mobile-devices") Products for mobile devices
                        a(class="navbar-item", href="#about") About Aktagon Ltd.
                        a(class="button is-black is-inverted is-outlined", href="#contact") Send a message
        div(class="columns is-centered")
          div(class="column is-four-fifths")
            //
            // SECTION 1
            //
            div(class="columns is-relative mx-2-mobile")
                div(class="column")
                    div(class="ellipse-background")
                    div(class="mb-20 mb-32-desktop")
                        span(class="has-text-light") Web & Mobile 
                        h1(class="title is-spaced mt-2")
                            span Software
                            span(class="is-block is-underlined") product
                            span(class="is-underlined") development.
                        p(class="has-text-light mb-5") Optimized for your business and customers.
                        a(class="is-gradient button button-call-to-action is-large", href="#contact") Start a project
                div(class="column")
                    //img(src="aktagon-assets/images/section-1.png", style="opacity: 0.4")
            //
            // SECTION 2
            //
            div(class="columns is-relative mt-20 mx-2-mobile")
                a(name="products-for-the-web")
                div(class="column is-hidden-mobile")
                    //img(src="aktagon-assets/images/web.svg", style="opacity: 0.4")
                div(class="column is-relative")
                    div(class="ellipse-background ellipse-background-right")
                    div(class="mb-20 mb-32-desktop")
                        span(class="has-text-light") Web development
                        h1(class="title is-spaced mt-2")
                            span Software products
                            span(class="is-underlined is-block") for the web.
                        p(class="has-text-light mb-5") Develop browser-based software products for your business and customers.
            //
            // SECTION 3
            //
            div(class="columns is-relative mt-20 mx-2-mobile")
                a(name="products-for-the-desktop")
                div(class="column")
                    div(class="ellipse-background")
                    div(class="mb-20 mb-32-desktop")
                        span(class="has-text-light") Desktop app development
                        h1(class="title is-spaced mt-2")
                            span Software products
                            span(class="is-underlined is-block") for the desktop.
                        p(class="has-text-light mb-5") Develop cross-platform and browser-based software products for MacOS, Windows, and Linux.
                div(class="column")
                    //img(src="aktagon-assets/images/section-3.png", class="opacity: 0.4")
            //
            // SECTION 4
            //
            div(class="columns is-relative mt-20 mx-2-mobile")
                a(name="products-for-mobile-devices")
                div(class="column is-hidden-mobile has-text-right")
                    img(src="aktagon-assets/images/mobile-phones.svg", style="opacity: 0.4")
                div(class="column")
                    div(class="ellipse-background-right")
                    div(class="mb-20 mb-32-desktop")
                        span(class="has-text-light") Mobile app development
                        h1(class="title is-spaced mt-2")
                            span Software products
                            span(class="is-underlined is-block") for mobile devices.
                        p(class="has-text-light mb-5") Develop cross-platform and browser-based software products for iOS and Android.
            //
            // CONTACT
            //
            div(class="columns is-relative py-20 is-centered m-5-mobile")
                a(name="contact")
                div(class="column is-half-widescreen")
                    div(class="mb-20 mb-32-desktop")
                        span(class="has-text-light") Looking for collaboration for your next project?
                        h2 Send a request for proposal
                        form(action="#", class="mt-12", data-netlify="true", enctype="multipart/form-data", netlify-honeypot="bot-field", name="contact-form")
                            input(name="bot-field", class="is-hidden")
                            div(class="control mb-6")
                                input(class="input", type="text", placeholder="Name", name="name")
                            div(class="control mb-6")
                                input(class="input", type="email", placeholder="E-mail", name="email")
                            div(class="control mb-6")
                                textarea(class="textarea has-fixed-size", name="message", cols="30", rows="10", placeholder="Message")
                            div(class="control mb-6")
                              label Attach file:
                              input(name="file", type="file")
                            button(class="button is-gradient is-fullwidth") Send

            //
            // ABOUT
            //
            div(class="columns is-relative py-20 has-text-centered")
                a(name="about")
                div(class="column")
                    h3 About
                    p Aktagon Ltd. has been in the business of building software products for customers since 2006.
                div(class="column")
                    h3 Address
                    p Aktagon Ltd., Renbackavägen 8 A, 02750 Esbo, Finland
                div(class="column")
                    h3 Email
                    p(class="mb-1") christian@aktagon.com
                div(class="column")
                    h3 VAT ID
                    p The VAT ID of Aktagon Ltd. is:
                    p FI20537825 (2053782-5)

            //
            // FOOTER
            //
            div(class="columns is-relative py-20 px-5")
                div(class="column")
                    img(src="aktagon-assets/logos/aktagon-logo.svg", alt="", width="100")
                div(class="column has-text-right") &copy; 2006 - &infin;
