extends layout.pug

block content

    //
    // SECTION:
    //
    section.is-fullheight-with-navbar.hero
        .hero-body
            span(class="subtitle") Software Development for Web, Mobile, and Desktop
            h1(class="hero-title")
                span Transforming Ideas
                span.is-block Into Outstanding
                span Software Products
            p(class="mb-5") Turning Your Vision into Robust SaaS Products and Custom Software Solutions
            a(class="button button-call-to-action", href="#contact") Start a Software Project

    //
    // SECTION
    //
    section.is-fullheight-with-navbar.hero
        a(name="services")
        .hero-body
            .container
                h2(class="hero-title") Services
                p I specialize in transforming your ideas into high-quality software products across various platforms. My expertise lies in creating exceptional SaaS products and custom software to meet your business and customer requirements.
                p Every business is unique, and I'm committed to delivering solutions that are meticulously tailored to align with your goals and the expectations of your end-users.
                h3 Software Development
                ul.list
                    li
                        strong Web Applications: 
                        span Developing functional, scalable, and reliable web applications to enhance user interaction.
                    li
                        strong Desktop Applications: 
                        span Creating efficient desktop applications to meet your users needs.
                    li
                        strong Mobile Applications: 
                        span Building user-friendly mobile applications for better connectivity with your audience.
                h3 DevOps
                ul.list
                    li
                        strong Continuous Integration/Continuous Deployment (CI/CD): 
                        span I implement modern CI/CD pipelines to ensure swift and reliable delivery of your software products.
                    li
                        strong Infrastructure Automation: 
                        span I automate your infrastructure setup and management, enhancing efficiency and reducing manual errors.
                    li
                        strong Monitoring and Incident Management: 
                        span I set up comprehensive monitoring systems and incident management processes to ensure the highest level of service reliability and performance.
                h3 Cost Reduction
                ul.list
                    li
                        strong Optimization: 
                        span I analyze and optimize your software architectures and processes to significantly reduce operational and development costs.
                    li
                        strong Cloud Management: 
                        span I help in managing and optimizing your cloud resources to ensure cost-effectiveness while maintaining high performance and reliability.
                h3 Project Lifecycle Support
                p From ideation to deployment and ongoing maintenance, I provide comprehensive support throughout the project lifecycle to ensure the success and sustainability of your software products.
                a(class="button button-call-to-action", href="#contact") Learn More

                //.columns
                    .column
                        h3(class="hero-title is-spaced") Technology Stack
                        p I employ a diverse range of technologies to ensure the optimal performance and reliability of your software products. My tech stack includes but is not limited to:
                //.columns
                    .column
                        h4 Frontend
                        ul.list
                            li HTML
                            li CSS
                            li JavaScript
                    .column
                        h4 Backend
                        ul.list
                            li Ruby
                            li Python
                            li Go
                            li Node.js
                    .column
                        h4 Databases
                        ul.list
                            li SQL
                            li NoSQL
                            li Graph
                            li Vector

    section.is-fullheight-with-navbar.hero
        //
        // SECTION:
        //
        a(name="insights")
        .hero-body
            .container
                h2(class="hero-title is-spaced") Insights
                //
                // Large Language Models
                //
                h3 Large Language Models
                ul.list
                    li.list-item
                        a(href="./articles/large-language-models-llms.pug") Essential Concepts for Comprehending Large Language Models
                    li.list-item
                        a(href="./articles/llama-index.pug") Index and Search Your Data Seamlessly with LlamaIndex and Large Language Models
                    //li.list-item
                        h3
                            a(href="/articles/lang-chain.pug") Build Smart Applications Using LangChain and Large Language Models
                //
                // Logic programming
                //
                //div(class="column is-hidden-mobile has-text-right")
                    //img(src="aktagon-assets/images/mobile-phones.svg", style="opacity: 0.4")
                h3 Logic Programming
                ul.list
                    li.list-item
                        a(href="./articles/prolog-in-a-nutshell.pug") Prolog in a Nutshell
                    li.list-item
                        a(href="./articles/constraint-logic-programming-in-prolog.pug") Constraint Logic Programming in Prolog
                    //li.list-item
                        h3
                            a(href="./articles/natural-language-parsing-in-prolog.pug") Natural Language Parsing in Prolog
                //
                // Databases
                //
                h3 Databases
                ul.list
                    li.list-item
                        a(href="./articles/simplifying-change-logs.pug") Simplifying Change Logs: A Trigger-Based Approach With PostgreSQL
            a(class="button button-call-to-action", href="#contact") Send Feedback

    section.is-fullheight-with-navbar.hero
        //
        // SECTION:
        //
        a(name="contact")
        .hero-body
            .container
                h3 Contact
                p Seeking a partner to join forces on your upcoming project? Aktagon Ltd. is ready to collaborate and make it a success.
                form(action="#", data-netlify="true", enctype="multipart/form-data", netlify-honeypot="bot-field", name="contact-form")
                    input(name="bot-field", class="is-hidden")
                    div(class="control mb-6")
                        input(class="input", type="text", placeholder="Name", name="name")
                    div(class="control mb-6")
                        input(class="input", type="email", placeholder="E-mail", name="email")
                    div(class="control mb-6")
                        textarea(class="textarea has-fixed-size", name="message", cols="30", rows="10", placeholder="Message")
                    div(class="control mb-6")
                      div(class="file has-name is-fullwidth")
                        label(class="file-label")
                          input(class="file-input", type="file", name="file")
                          span(class="file-cta")
                            span(class="file-icon")
                              i(class="fas fa-upload")
                            span(class="file-label") Choose a file&hellip;
                          span(class="file-name")
                    a(class="button button-call-to-action", href="#contact") Send Message

    section.is-fullheight-with-navbar.hero(style="display: flex; flex-direction: column; justify-content: center;")
        //
        // SECTION:
        //
        a(name="about")
        .hero-body
            .container
                .column.is-half
                    //
                    // ABOUT
                    //
                    h3 About Aktagon Ltd.
                    p Aktagon Ltd., based in Finland, is your reliable partner for software development needs. With over 20 years of expertise in building software, I have been dedicated to crafting user-friendly products for my clients since 2006. My approach is rooted in practical solutions and a deep understanding of my clients' goals.

                    h4 VAT ID
                    p FI20537825 (2053782-5)
                    h4 Contact
                    p Feel free to reach out for collaborations or inquiries at christian@aktagon.com.
                    a(href="mailto:christian@aktagon.com" class="button button-call-to-action") Send Email
