extends layout.pug

block content
    //
    // SECTION 1
    //
    div(class="columns is-relative mx-2-mobile")
        div(class="column")
            div(class="ellipse-background")
            div(class="mb-20 mb-32-desktop")
                span(class="has-text-light") Web & Mobile 
                h1(class="title is-spaced mt-2")
                    span Software
                    span(class="is-block is-underlined-disabled") product
                    span(class="is-underlined-disabled") development.
                p(class="has-text-light mb-5") Customized software solutions, catering to business and customer requirements.
                a(class="is-gradient button button-call-to-action", href="#contact") Start a project
        div(class="column")
            //img(src="aktagon-assets/images/section-1.png", style="opacity: 0.4")
    //
    // SECTION 2
    //
    div(class="columns is-relative mt-20 mx-2-mobile")
        a(name="products-for-the-web")
        div(class="column is-hidden-mobile")
            //img(src="aktagon-assets/images/web.svg", style="opacity: 0.4")
        div(class="column is-relative")
            div(class="ellipse-background ellipse-background-right")
            div(class="mb-20 mb-32-desktop")
                span(class="has-text-light") Web development
                h1(class="title is-spaced mt-2")
                    span Software products
                    span(class="is-underlined-disabled is-block") for the web.
                p(class="has-text-light mb-5") Aktagon Ltd. creates friendly, browser-based software solutions that make life easier for your business, customers, and stakeholders, while offering a delightful user experience.
    //
    // SECTION 3
    //
    div(class="columns is-relative mt-20 mx-2-mobile")
        a(name="products-for-the-desktop")
        div(class="column")
            div(class="ellipse-background")
            div(class="mb-20 mb-32-desktop")
                span(class="has-text-light") Desktop app development
                h1(class="title is-spaced mt-2")
                    span Software products
                    span(class="is-underlined-disabled is-block") for the desktop.
                p(class="has-text-light mb-5") Aktagon Ltd. crafts cross-platform, browser-based software products that play nice with MacOS, Windows, and Linux systems.
        div(class="column")
            //img(src="aktagon-assets/images/section-3.png", class="opacity: 0.4")
    //
    // SECTION 4
    //
    div(class="columns is-relative mt-20 mx-2-mobile")
        a(name="products-for-mobile-devices")
        div(class="column is-hidden-mobile has-text-right")
            //img(src="aktagon-assets/images/mobile-phones.svg", style="opacity: 0.4")
        div(class="column")
            div(class="ellipse-background-right")
            div(class="mb-20 mb-32-desktop")
                span(class="has-text-light") Mobile app development
                h1(class="title is-spaced mt-2")
                    span Software products
                    span(class="is-underlined-disabled is-block") for mobile devices.
                p(class="has-text-light mb-5") Aktagon Ltd. specializes in developing top-notch, cross-platform, browser-based software products that ensure seamless compatibility with both iOS and Android devices for optimal user experience.

    //
    // ARTICLES
    //
    div(class="columns is-relative py-20 m-5-mobile")
        div(class="column is-one-third-widescreen")
            h2 Large Language Models
            ol.list.is-hoverable.is-lower-alpha
                li.list-item
                    h3
                        a(href="/articles/large-language-models-llms.html") Essential Concepts for Comprehending Large Language Models (LLMs)
                li.list-item
                    h3
                        a(href="/articles/llama-index.html") Index and Search Your Data Seamlessly with LlamaIndex and Large Language Models
                li.list-item
                    h3
                        a(href="/articles/lang-chain.html") Develop Smart Applications Using LangChain and Large Language Models
    //
    // CONTACT
    //
    div(class="columns is-relative pt-20 m-5-mobile")
        a(name="contact")
        div(class="column is-one-third-widescreen")
            div(class="mb-20 mb-32-desktop")
                h2 Send a request for proposal
                span(class="has-text-light") Seeking a partner to join forces on your upcoming project? Aktagon Ltd. is ready to collaborate and make it a success.
                form(action="#", class="mt-12", data-netlify="true", enctype="multipart/form-data", netlify-honeypot="bot-field", name="contact-form")
                    input(name="bot-field", class="is-hidden")
                    div(class="control mb-6")
                        input(class="input", type="text", placeholder="Name", name="name")
                    div(class="control mb-6")
                        input(class="input", type="email", placeholder="E-mail", name="email")
                    div(class="control mb-6")
                        textarea(class="textarea has-fixed-size", name="message", cols="30", rows="10", placeholder="Message")
                    div(class="control mb-6")
                      label Attach file:
                      input(name="file", type="file")
                    button(class="is-gradient button button-call-to-action") Send RFP

    //
    // ABOUT
    //
    div(class="columns is-relative py-20 has-text-centered has-text-left-mobile mx-2-mobile")
        a(name="about")
        div(class="column")
            h3 About
            p Aktagon Ltd., your friendly software-builder, has been crafting cool, user-loved products for customers since 2006.
        div(class="column")
            h3 Address
            p Aktagon Ltd., Renbackavägen 8 A, 02750 Esbo, Finland
        div(class="column")
            h3 Email
            p(class="mb-1") christian@aktagon.com
        div(class="column")
            h3 VAT ID
            p The VAT ID of Aktagon Ltd. is:
            p FI20537825 (2053782-5)
