extends ../article-layout.pug

block title
  | Natural Language Parsing in Prolog

block content
  figure(class="image container")
    img(src="../../assets/images/articles/natural-language-parsing-in-prolog.png?as=jpg&width=800", alt="", class="pb-5")

  :markdown-it(linkify langPrefix='highlight-' plugins=['markdown-it-table-of-contents', 'markdown-it-anchor'])

    **Table of Contents**

    [[toc]]

    ## Introduction
