$primary: #222 !default;
$dark: $primary;
$black: #222;

article.content {
  h1 {
    font-family: $title-family;
    @extend .is-size-1;
    @extend .title;
  }

  h2 {
    font-family: $subtitle-family;
    @extend .is-size-2;
    @extend .subtitle;
  }

  h2 {
    font-family: $subtitle-family;
    @extend .is-size-3;
    @extend .subtitle;
  }
}

.has-background-dark {
  a {
    //color: $white;
  }

  h1 {
    @extend .is-size-1;
    @extend .title;
    //@extend .has-text-white;
  }

  h2 {
    @extend .is-size-2;
    @extend .title;
    //@extend .has-text-white;
  }

  h3 {
    @extend .is-size-3;
    @extend .title;
    //@extend .has-text-white;
  }

  input, textarea {
    //@extend .has-text-black;
    @extend .has-background-dark;
  }

  .title {
    word-break: normal;
    @extend .fadeout;
  }
}

// https://www.joshwcomeau.com/gradient-generator/
.is-gradient {
  //linear-gradient(111.17deg, #01FCFF -19.55%, #004BFF 59.17%);
  background: linear-gradient(
    120deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 44%,
    hsl(315deg 100% 27%) 65%,
    hsl(329deg 100% 36%) 76%,
    hsl(337deg 100% 43%) 83%,
    hsl(357deg 91% 59%) 88%,
    hsl(17deg 100% 59%) 92%,
    hsl(34deg 100% 53%) 95%,
    hsl(45deg 100% 50%) 98%,
    hsl(55deg 100% 50%) 100%
  );
}

.button-call-to-action {
  border-radius: 9999px;
  background-color: transparent;
  border-color: $black;
  color: $white;
  opacity: 1;
}

.button-call-to-action:hover {
  color: $white;
  opacity: .8;
}

.ellipse-background {
  position: absolute;
  width: 1175px;
  height: 1175px;
  left: -470px;
  top: -470px;
  border-radius: 50%;

  background: #01A4FF;
  opacity: .07;
  filter: blur(200px);
}

.ellipse-background-right {
  left: 348px;
  top: -470px;
}

.fadeout {
  // Fade-out effect
  background: -webkit-linear-gradient(top left, #fff, #222);
  background: -moz-linear-gradient(top left, #fff, #222);
  background: linear-gradient(to bottom right, #fff, #222);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $dark;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $dark;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $dark;
}
