$primary: #222 !default;

$blue: #004bff;
$dark: $primary;
$black: #222;
$link: $blue !default;
$title-color: $white;
$subtitle-weight: 800;
//$title-line-height: 4rem;
$button-active-color: $blue;
$button-focus-color: $blue;
$text-primary-dark: $blue;
$link: $blue;
$link-hover: $blue;
